.account-page-box{
  background-color: #fff !important;
  width: 100%;
  padding: 30px 10px;
  margin: 30px 0;
  border: 5px solid #192857;
  font-size: 120%;
}

.account-group{
  padding: 20px 0;
}


.account-column-info{
  background-color: #fff !important;
  width: 100%;
  border: 3px solid #bfa458;
  font-size: 115%;
  margin-bottom: 30px;
}

.account-content{
  margin: 30px 0 0 0;
}

.account-information-title{
  padding-left: 30px;
}

.account-edit-button{
  padding: 10px 0;
  text-align: center;
  border: 2px solid #bfa458;
  color: #bfa458;
  background-color: #192857;
}

.account-edit-button:hover{
  background-color: #bfa458;
  color: #192857;
}

.bio-label{
  margin-bottom: 20px;
}

.account-personal-information{
  padding: 10px 0;
  font-size: 90%;
}

.account-rating-stars{
  margin: 20px 0 10px 0;
  font-size: 115%;
  margin: auto;
  color: #bfa458;
  display: inline-block;
}

@media (min-width: 500px) {
  .account-email, .account-phone{
    font-size: 130%;
  }
}
