.claim-content{
  background-color: white;
  border: 3px solid #192857;
  margin: auto;
  margin-top: 30px;
  padding: 5px;
  max-width: 450px;
}

.claim-title{
  margin: auto;
  padding: 5px 0px;
  text-align: center;
}

.claim-enter-info{
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 10px 0;
}

.claim-label{
  font-size: 115%;
  width: 150px;
  display: inline-block;
}

.claim-select-category{
  font-size: 120%;
}

.claim-submit-button-group{
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 30px 0;
}

.claim-submit-button{
  font-size: 130%;
  font-weight: bold;
  color:  #bfa458;
  background-color: #192857;
  padding: 10px 40px;
  border-width: 0;
}

.claim-submit-button:hover{
  color: #192857;
  background-color: #bfa458;
}

@media (min-width: 768px) {
  .claim-content{
    padding: 20px;
  }
}

.claim-response-content{
  margin: auto;
  margin-top: 30px;
  padding: 50px 15px;
  max-width: 450px;
  text-align: center;
  border: 3px solid #192857;
}

.success{
  background-color: #99ff99;
  color: #192857;
}

.failure{
  background-color: #ff6666;
  color: #192857;
}

.claim-response-title{
  margin: auto;
  padding: 5px 0px 20px 0;
  text-align: center;
}
