{% extends 'base-template.html' %}


{% block content %}

<div class="row">
  <div class="col-xs-12 account-information-title">
    <h2>User: <b>{{ account.username }}</b>
  </div>
</div>

<hr class="styled-hrline"/>

<div class="row account-content">
  <div class="col-xs-12 col-lg-6 account-column-info">
    <div class="account-email account-group">
      <h3 class="account-label">Email:</h3>
      <a href="mailto:{{ account.email }}?subject=Interest In Post" target="_blank">{{ account.email }}</a>
    </div>

    <div class="account-phone account-group">
      <h3 class="account-label">Phone Number: </h3>
      {{ account.phonenumber }}
    </div>

    <div class="account-personal-email account-group">
      <h3 class="account-label">Personal Email:</h3>
      {{ account.personalemail }}
    </div>

    <div class="account-rating account-group">
      <h4 class="account-label">{{ account.username }}'s Rating: <b>{{ 5 }}/5</b></h4>
      <div class="account-rating-stars">
        {% set seq = [0, 1, 2, 3, 4] %}
        {% for i in seq %}
          {% if 5 | int > i %}
            <i class="fas fa-star"></i>
          {% else %}
            <i class="far fa-star"></i>
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>

  <div class="col-xs-12 col-lg-6 account-column-info">
    <div class="account-rating account-group">
      <h4 class="account-label bio-label">User {{ account.username }}'s Bio:</h4>
      <div class="account-personal-information"> {{account.bio}}</div>
    </div>
  </div>
</div>

{% endblock %}
