{% extends 'base-template.html' %}

{% block content %}
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Username</th>
        <th scope="col">Remove User?</th>
      </tr>
    </thead>
    <tbody>
      {% for someUser in UserQuery %}
        <tr>
          <td> {{someUser.userid}} </td>
          <td> {{someUser.username}} </td>
          {% if someUser.userid != 1%}
          <td>
            <form method="post">
  							<button type="submit" name="user_id" value={{ someUser.userid }}>Remove this user</button>
  					</form>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
