{% extends "base-template.html" %}


{% block linked_files %}
  {{ linked_files }}
{% endblock %}

{% block content %}
<div class="create-account-title">
  <h2>Create a New Account</h2>
</div>

{% if error != [] and error != '' %}
  {% with error_message=error %}
    {% include 'error.html' %}
  {% endwith %}
{% endif %}

<hr class="styled-hrline"/>

<form class="form" action="" method="post">
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="create-account-input-group">
        <h5 class="create-account-label">University Email </h5>
        <p class='requirement-submission'>REQUIRED. Email must end with 'pitt.edu' and be less than 75 characters.</p>
        <input class="form-control form-control-lg" name="email" type="text" placeholder="Username..." maxlength="75">
      </div>

      <div class="create-account-input-group">
        <h5 class="create-account-label">Password </h5>
        <p class='requirement-submission'>REQUIRED. Must have between 8 and 32 characters, inclusive.</p>
        <input class="form-control form-control-lg" name="password" type="password" placeholder="Password...">
      </div>

      <div class="create-account-input-group">
        <h5 class="create-account-label">Retype Password</h5>
        <p class='requirement-submission'>REQUIRED. Must be identical to above)</p>
        <input class="form-control form-control-lg" name="password2" type="password" placeholder="Retype Password...">
      </div>


    </div>

    <div class="col-md-12 col-lg-6">

      <div class="create-account-input-group">
        <h5 class="create-account-label">Phone Number </h5>
        <p class='requirement-submission'>OPTIONAL. Number must be start with USA code.</p>
        <input class="form-control form-control-lg" name="phonenumber" type="text" placeholder="Phone Number...">
      </div>

      <div class="create-account-input-group">
        <h5 class="create-account-label">Personal Email </h5>
        <p class='requirement-submission'>OPTIONAL. Maximum of 70 characters.</p>
        <input class="form-control form-control-lg" name="personalemail" type="text" placeholder="Email...">
      </div>
    </div>
  </div>

  <hr class="styled-hrline"/>

  <div class="row">
    <div class="col-xs-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">

      <div class="create-account-description-box">
        <h5 class="create-posting-label">Describe yourself!</h5>
        <p class='requirement-submission'>OPTIONAL. Maximum of 1,000 characters)</p>
        <p>
          This description may help attract users to your postings.
          It can help paint a picture to other users about who <i>you</i> are.
          This is completely OPTIONAL as well.
        </p>
        <textarea class="form-control textarea-box" name="bio" id="exampleFormControlTextarea1" rows="10"></textarea>
      </div>

    </div>
  </div>


  <div class="create-posting-submit-button-group">
    <div class="create-account-accept-conditions">
      <div class="conditions-and-term-group">
        <button type="submit" class="btn btn-primary create-account-submit-button submit-button">Create Account!</button>
      </div>
    </div>
  </div>

</form>


</div>
{% endblock %}
