{% extends 'base-template.html' %}


{% block content %}
<div class="create-posting-title">
  <h2>Edit Post Submission Form</h2>
  <hr class="styled-hrline"/>
</div>

<form action="" method="post">
  <div class="form">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="create-posting-input-group">
          <h4 class="create-posting-label">Posting Title</h4>
          <input class="form-control form-control-lg" type="text" value={{post.title}} name="title">
        </div>

        <div class="create-posting-input-group">
          <h4 class="create-posting-label">Category for Post</h4>
          <select class="selectpicker create-posting-select-category" value={{post.category}} name="category">
            <option>Textbooks</option>
            <option>Events</option>
            <option>Opprotunities</option>
            <option>Furniture</option>
            <option>Goods</option>
            <option>Software or Digital Media</option>
            <option>Miscellaneous</option>
          </select>
        </div>

        <div class="create-posting-input-group">
          <h4 class="create-posting-label">Preferred Contact Method</h4>
          <div class="create-posting-radio-contact list-radio-options create-posting-list-group">
            <label class="form-check-label radio-label">
              <input type="radio" class="form-check-input create-posting-radio-buttons" name="preferredContact" value="Email" checked="checked">
              <span class="radio-button-span"></span>
              Email
            </label>

            <label class="form-check-label radio-label">
              <input type="radio" class="form-check-input create-posting-radio-buttons" name="preferredContact" value="Phone">
              <span class="radio-button-span"></span>
              Phone
            </label>

            <label class="form-check-label radio-label">
              <input type="radio" class="form-check-input create-posting-radio-buttons" name="preferredContact" value="PersonalEmail" >
              <span class="radio-button-span"></span>
              Personal Email
            </label>
          </div>
        </div>
      </div>


      <div class="col-md-12 col-lg-6">
        <div class="create-posting-input-group price-group">
          <h4 class="create-posting-label price-label">Listing Price</h4>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text" style="background-color:  #bfa458;"><i class="fas fa-dollar-sign" style="color: #192857; font-size: 120%;"></i></div>
            </div>
            <input type="text" class="form-control form-control-lg" id="inlineFormInputGroupUsername2" value={{post.price}} name="price">
          </div>
        </div>

        <div class="create-posting-input-group">
          <h4 class="create-posting-label">Description of Good or Service</h4>
          <textarea class="form-control textarea-box" id="exampleFormControlTextarea1" rows="10" name="description">{{post.description}}</textarea>
        </div>
      </div>
    </div>

    <hr class="styled-hrline"/>

    <div class="row">
      <div class="col-xs-12">
        <div class="collection-of-tags">
          <!-- THE FORMAT OF THE DIV representing the tags
          <div class="tag-div">
            Computer
            <i class="fas fa-times-circle" id="close-icon"></i>
          </div> -->

        </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-xs-12 col-lg-8 offset-lg-2">
        <div class="create-posting-input-group">
          <h4 class="create-posting-label">Enter Tags for Filtering Searches:</h4>
          <input class="form-control form-control-lg" type="text" value={{post.tags}} name='tags'>
        </div>
      </div>
    </div>

    <hr class="styled-hrline"/>
    <div class="create-posting-submit-button-group">
      <button type="submit" class="btn btn-primary create-posting-submit-button">Edit Post!</button>
    </div>

  </div>
</form>

{% endblock %}
