
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container nav-container">
    <a class="button-a" href="/search-and-filter-postings">
      <div class="navbar-button navbar-button-home ">
        <i class="fas fa-home"></i>
        CraigVersity
      </div>
    </a>

    {% if able_to_filter %}
    <button class="mr-2 navbar-toggle-filter navbar-button navbar-sidebar-toggle-button" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="true" aria-label="Toggle navigation">
      <a class="button-a">
        <i class="fas fa-align-left mr-2"></i>
        Toggle Search
      </a>
    </button>
    {% endif %}

    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">
        {% if current_user_is_auth %}
        <li class="nav-item">
          <a class="button-a" href="/new-posting-submission">
            <div class="navbar-button">
              New Posting
              <i class="fas fa-file"></i>
            </div>
          </a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="button-a" href="/help-and-FAQ" target="_blank">
            <div class="navbar-button">
              Help & FAQs
              <i class="fas fa-info-circle"></i>
            </div>
          </a>
        </li>

        {% if current_user_is_auth %}
        <li class="nav-item">
          <div class="dropdown default-background-nav" id=account-dropdown-toggle>
            <button type="button" id='dropdown-button' class="btn navbar-button navbar-button-dropdown navbar-color-scheme" data-toggle="dropdown">
              Account Options
              <i class="fas fa-bars"></i>
            </button>
            <div class="navbar-button-dropdown-menu dropdown-menu ">
              <a class="navbar-button-dropdown-items navbar-color-scheme" href="/user?userid={{ current_user_id }}">
                View Account
                <i class="fas fa-user-edit navbar-button-dropdown-icon "></i>
              </a>
              <a class="navbar-button-dropdown-items navbar-color-scheme" href="/edit-account">
                Edit Account
                <i class="fas fa-desktop navbar-button-dropdown-icon "></i>
              </a>
              <a class="navbar-button-dropdown-items navbar-color-scheme" href="/logout">
                Logout
                <i class="fas fa-sign-out-alt navbar-button-dropdown-icon"></i>
              </a>
            </div>
          </div>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>
