<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Help & FAQ</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script defer src="/static/fontawesome-free-5.10.2-web/js/all.js"></script> <!--load all styles -->
    <link href="/static/fontawesome-free-5.10.2-web/css/all.css" rel="stylesheet"> <!--load all styles -->

    <!-- need to fixup the CSS and JavaScripts -->
    <link rel="stylesheet" type="text/css" href='/static/stylesheets/snippet-styles.css'>
    <link rel="stylesheet" type="text/css" href='/static/stylesheets/navbar-styles.css'>
    <link rel="stylesheet" type="text/css" href='/static/stylesheets/sidebar-styles.css'>
    <link rel="stylesheet" type="text/css" href='/static/stylesheets/help-styles.css'>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="test.js"></script>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container nav-container">
        <a class="button-a" href="/search-and-filter-postings">
          <div class="navbar-button navbar-button-home ">
            <i class="fas fa-home"></i>
            CraigVersity
          </div>
        </a>

        <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <div class="container">
      <div class="col-xs-12">
        <div class="container">
          <div class="main-page">
            <h2>Help and Frequently Asked Questions!</h3>

            <hr class="styled-hrline"/>

            <h4>Creating an Account</h4>
            <ol>
              <li>Click <a href="/login" target="_blank">here</a> and click the blue text in the bottom lefthand corner of the login page.</li>
              <li>You need to fill out the following form in order to create an account. The required entries are:</li>
              <ul>
                <li>University Email: you must have an email from your university.</li>
                <li>Password: you must have a password between 8 and 32 characters long. Password must be entered 2 times to ensure no mistypings.</li>
                <li>Everything Else: Optional!</li>
              </ul>
              <li>
                After submission, you may get a red error message at the top of the screen. This probably means you incorrectly typed
                something, passwords did not match, or an account with specified email already exists!
              </li>
              <li>Otherwise, you should return to the login page and be able to sign-in and enjoy CraigVersity!</li>
            </ol>

            <hr class="styled-hrline"/>

            <h4>Editing your Account (and deleting your account)</h4>
            <ol>
              <li>Sign-in and click on the far-right option labeled "Account Options" and then click on "Edit Account."</li>
              <li>You can fill in any field you want, which will overwrite previously stored data.</li>
              <li>
                You <b>MUST</b> have inputted your current password in the first input box in order to validate the changes.
                This extra step is to help prevent people from editing someone's account if they get
                access to an open browser with you CraigVersity account already logged-in.
              </li>
              <li>If you wish to delete the account, click the checkbox in the Edit Account Form labeled "Delete Account" and click submit.</li>
            </ol>

            <hr class="styled-hrline"/>

            <h4>Creating a Posting</h4>
            <p>
              A <i>Posting</i> is the term we use to define the advertisement a user submits to facilitate a transaction between users.
              A posting should contain valuable information to potential buyers in order to attract people to buy.
            </p>
            <ol>
              <li>Click the "New Posting" button at the very top of the screen to open the form to complete.</li>
              <li>Now you need to fill out all required fields: </li>
              <ul>
                <li>Title: brief snippet explaining your good or service. A maximum of 30 characters.</li>
                <li>Category: You do not have to select any, and "Any" will be selected.
                  However, the "Any" category will result in fewer people being able to search for your product or service.</li>
                <li>Price: The price you wish to set. The range is from $0 to $2,000 (inclusive). As it is a cash-only site,
                   hard to justify more expensive transactions for college students.</li>
                 <li>Description: A longer description of your good or service. The maximum length is 1000 characters.</li>
                 <li>Tags: a helpful way to allow other users to easily find your posting through our filtering and search system.
                   To creat a new tag, just type a word or short phrase and hit enter. It should pop up onto your screen above the input.
                   <i>Note:</i> if you want to remove a tag, click the "x" in the top right of any individual tag.</li>
              </ul>
              <li>Click on the "Create Post!" button in order to submit the posting. If you get a red error message at the top of the
                submission form, your post didn't meet the correct criteria. Fix the issue in the error message and attempt submitting again.</li>
            </ol>

            <hr class="styled-hrline"/>

            <h4>Edit a Posting (and deleting)</h4>
            <ol>
              <li>First, navigate to your posting you wish to modify.</li>
              <li>Then, if you are the user who created the posting, there should be a button labeled "Edit Posting" underneath
                the title and next to "Functions: " and click on the "Edit Posting" button.</li>
              <li>Finally, redo the form to your own liking and click "Submit Changes." </li>
              <li>If you wish to delete the post, check the box in the Edit Posting Form labeled "Delete Posting," and click submit.</li>
            </ol>

            <hr class="styled-hrline"/>
            <h4>Transactions</h4>
            <p>
              Transactions occur when both a buyer and seller "Claim" a posting. The user claiming to be be the seller, must
              be the same user who created said posting. The buyer can be any other user. After either the buyer OR seller
              submit their "claim," they must wait for the other (seller OR buyer respectively) to claim as well. These claims
              are a way for the users to rate other users on the opposite end of a transaction. After both the seller and buyer have
              submitted claims and they both validate that they were involved in the transaction, the ratings are updated
              based on the given ratings. Both users shall be notified when the transaction completes with 2 corresponding claims.
            </p>
            <h5>Buyer Claim</h5>
            <ol>
              <li>Navigate to the posting you wish to "Claim."</li>
              <li>Click on the "Claim Transaction" button to the right of "Functions:" and underneath the title.</li>
              <li>If you are not the one who posted, then you should get a screen asking you to give the Seller's Username
                (already filled out!) and the rating for the poster (or seller).
              </li>
              <li>Fill out the rating (you will automatically select 5 stars if you choose to ignore filling it out) and click submit!</li>
            </ol>
            <h5>Seller Claim</h5>
            <ol>
              <li>Navigate to the posting you wish to "Claim."</li>
              <li>Click on the "Claim Transaction" button to the right of "Functions:" and underneath the title.</li>
              <li>If you are the one who posted, then you should get a screen asking you to give the Buyer's University Email
                which you must supply.
              </li>
              <li>Fill out the email field and the rating to give (you will automatically select 5 stars if you choose to ignore filling it out) and click submit!</li>
            </ol>

            <hr class="styled-hrline"/>
            <h4>Searching and Filtering Postings</h4>
            <ol>
              <li>Click the "Toggle Search" icon in the top left corner.</li>
              <li>You need to fill out the search form in order to filter the postings. The required entries are:</li>
              <ul>
                <li>Category (defaulted to All)</li>
                <li>Minimum Price (defaulted to $0)</li>
                <li>Maximum Price (defaulted to $2000)</li>
              </ul>
              <li>You can also search for specific posts by entering a keywoard into the search bar. </li>
              <li>Once the search form is completed to your liking, all you have to do is click on the "Filter Listings!" button.</li>
            </ol>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
