{% extends 'base-template.html' %}


{% block content %}
<div class="container">
  <div class="account-page-box">

    <div class="row">
      <div class="col-xs-12 col-sm-8 account-information-title">
        <h2>User: <b>{{ account.username }}</b>
      </div>

      <div class="col-xs-12 col-sm-4 account-information-title">
        <a href="#">
          <div class="account-edit-button">
            <i class="fas fa-user-edit"></i>
            Edit Account
          </div>
        </a>
      </div>

    </div>

    <hr class="styled-hrline"/>

    <div class="row account-content">
      <div class="col-xs-12 col-lg-6 account-column-info">
        <div class="account-email account-group">
          <h3 class="account-label">Email:</h3>
          <a href="mailto:ABC1234@pitt.edu?subject=Interest In Post" target="_blank">{{ account.email }}</a>
        </div>

        <div class="account-phone account-group">
          <h3 class="account-label">Phone Number: </h3>
          {{ account.phonenumber }}
        </div>

        <div class="account-personal-email account-group">
          <h3 class="account-label">Personal Email:</h3>
          {{ account.personalemail }}
        </div>

        <div class="account-rating account-group">
          <h4 class="account-label">{{ account.username }}'s Rating: <b>{{ account.rating }}/5</b></h4>
          <div class="account-rating-stars">
            {% set seq = [0, 1, 2, 3, 4] %}
            {% for i in seq %}
              {% if account.rating | int > i %}
                <i class="fas fa-star"></i>
              {% else %}
                <i class="far fa-star"></i>
              {% endif %}
            {% endfor %}
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-lg-6 account-column-info">
        <div class="account-rating account-group">
          <h4 class="account-label bio-label">User {{ account.username }}'s Bio:</h4>
          <div class="account-personal-information">
            Hi! I am username, ABC1234; real name: Allan Brock Cook. I am a junior at Pitt and am currently majoring in
            Mathematics and minoring in French (yes, it is a weird combo!). I like off-campus in South-Oakland.
            I can typically meet for my postings at campus if that is desired any day of the week (I have class
            every weekday). <br><br> To finalize any transactions: I am free Monday, Wednesday, and Friday
            in the morning (before roughly 1pm). Tuesday and Thursday I am free between 3-6pm most of the time.
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
