{% extends "base-template.html" %}

{% block content %}
<div class="container">
  <div class="col-xs-12 col-xl-8 offset-xl-2">
    <div class="login-content">
      <h2 class="login-title">Sign In</h2>

      <form class="form" action="{{ url_for('login') }}" method="post">
        <div class="login-enter-info">
          <h4 class="login-label">Email: </h4>
          <input class="form-control form-control-md login-text-box"  name="email" type="text" placeholder="Enter Email...">
        </div>

        <div class="login-enter-info">
          <h4 class="login-label">Password: </h4>
          <input class="form-control form-control-md login-text-box"  name="password" type="password" placeholder="Enter Password...">
        </div>

        <hr class="login-hr-line" />

        <div class="login-options-group">
          <div class="login-submit-button-group">
            <button type="submit" class="btn btn-primary login-submit-button">Sign-In!</button>
          </div>
        </div>

        <div class="login-other-options row">
          <div class="col-xs-12 col-sm-6">
            <a class="login-create-account" href="create-account.html">Create Account</a>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}
