{% for post in filtered_postings %}
<div class="col-lg-6 col-xl-4">
  <div class="card posting-card">
     <div class="card-body">
       <h4 class="card-title">{{ post.title }}</h4>

       <div class="card-seller-panel">
         <a href="#">
           <div class="card-button">
              {{ post.poster_id }}
           </div>
         </a>
         <div class="bottom-card-seller-panel">
           <div class="card-seller-stars">
             {{ post.stars }}
             <!-- <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="far fa-star"></i>
             <i class="far fa-star"></i> -->
           </div>

           <div class="card-seller-price">
             <div class="card-cost-amount">${{ post.price }}</div>
           </div>
         </div>
       </div>

       <div class="card-body-description">
         <p class="card-text">
           {{ post.description }}
         </p>
       </div>
     </div>
     <div class="card-footer footer-of-card">
       <a href="{{ post.link }}" class="card-footer-see-more">Click to View Details</a>
     </div>
   </div>
</div>
{% endfor %}
