.create-posting-title{
  height: 70px;
  line-height: 50px;
  margin: auto;
  text-align: center;
}

.posting-border-box{
  background-color: #fff !important;
  width: 100%;
  padding: 30px;
  margin: 30px 0;
  border: 5px solid #192857;
}

.create-posting-input-group{
  width: 100%;
  padding: 20px 0;
}

.create-posting-label{
  padding-bottom: 10px;
}

.create-posting-submit-button-group {
  text-align: center;
  width: 100%;
  margin: auto;
  padding-top: 30px;
}

.create-posting-hrline{
  height: 1px;
  color: #192857;
  background-color: #192857;
}

.create-posting-hrline-empty{
  margin-top: 70px;
  height: 2px;
  border: 0px solid white;
  background-color: #192857;
}

.create-posting-select-category{
  width: 100%;
  border-radius: 5px;
  font-size: 110%;
  padding: 10px;
}

.create-posting-submit-button{
  font-size: 140%;
  font-weight: bold;
  color:  #bfa458;
  background-color: #192857;
  padding: 10px 40px;
  border-width: 0;
}

.create-posting-submit-button:hover{
  color: #192857;
  background-color: #bfa458;
}






/* Style the Radio Buttons */
.list-radio-options{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  width: 100%;
  font-size: 110%;
}

.radio-label{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  position: relative;
  width: 100%;
  padding: 5px 40px;
  font-size: 110%;
  height: 40px;
}

.radio-label input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-button-span{
  position: absolute;
  height: 20px;
  width: 20px;
  padding: 10px;
  left: 5px;
  top: 10px;
  background-color: #192857;
  border-radius: 50%;
}

.radio-button-span:after{
  content: "";
  position: absolute;
  display: none;
}

.radio-label input:checked ~ .radio-button-span:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-label .radio-button-span:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #bfa458;
}

.radio-label:hover{
  cursor: pointer;
  background-color: #eee;
}

/* checkbox styling */
.list-checkmark-options{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  width: 100%;
  font-size: 110%;
}

.checkmark-label{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  position: relative;
  width: 100%;
  padding: 5px 40px;
  font-size: 110%;
  height: 40px;
}

.checkmark-label input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark-span{
  position: absolute;
  height: 20px;
  width: 20px;
  padding: 10px;
  left: 5px;
  top: 10px;
  background-color: #192857;
  border-radius: 4px;
}

.checkmark-span:after{
  content: "";
  position: absolute;
  display: none;
}

.checkmark-label  input:checked ~ .checkmark-span:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark-label  .checkmark-span:after {
  left: 7px;
  top: 4px;
  width: 6px;
  height: 11px;
  border: solid #bfa458;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark-label:hover{
  cursor: pointer;
  background-color: #eee;
}

.no-hover:hover{
  cursor: default;
  background-color: inherit;
}





.textarea-box{
  border: 3px solid #192857;
}




/* TAGS */
.tag-div{
  display: inline-block;
  padding: 10px 30px;
  margin: 5px 5px;
  border-radius: 4px;
  background-color: #192857;
  color: #bfa458;
  font-size: 110%;
  font-weight: 600;
}

#close-icon{
  color: #bfa458;
  width: 20px;
  cursor: pointer;
  margin-left: 10px;
}
