body{
  background-color: #ccc;

}

body::-webkit-scrollbar-button:vertical:single-button{
  display: block;
  background-color: #192857;
  color: #bfa458;
}

body::-webkit-scrollbar-button:vertical:increment{
  background-image: url("../fontawesome-free-5.10.2-web/svgs/solid/arrow-down-scroll.svg");
  color: #bfa458;
}

body::-webkit-scrollbar-button:vertical:decrement{
  background-image: url("../fontawesome-free-5.10.2-web/svgs/solid/arrow-up-scroll.svg");
  fill: #bfa458;
}
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background-color: #192857;
}

body::-webkit-scrollbar-thumb {
  background-color: #bfa458;
}

.content-panel{
  padding: 50px 0;
}

.navbar {
  background-color: #192857;
  padding: 0;
  min-height: 70px;
}

.nav-container{
    min-height: 70px;
}

.button-a{
  height: 100%
  text-align: center;
  line-height: 70px;
}

a:hover {
  color: #192857;
}

.navbar-button-home{
  font-size: 175% !important;
  margin-right: 10px !important;
}

.navbar-button{
  margin: auto;
  color: #bfa458;
  background-color: inherit;
  font-size: 125%;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0 15px;
}

.navbar-button:hover{
  color: #192857;
  background-color: #bfa458;
}

.nav-search-input{
  width: 200px !important;
}

@media (min-width: 1200px) {
  .nav-search-input{
    width: 350px !important;
  }

}

.nav-search-submit{
  font-size: 110%;
  padding: 5px;
  margin: 5px
}
