
/*  Account-View Styles  */

.account-page-box{
  background-color: #fff !important;
  width: 100%;
  padding: 30px 10px;
  margin: 30px 0;
  border: 5px solid #fff;
  font-size: 120%;
}

.account-group{
  padding: 20px 0;
}

.account-information-edit{
  padding: 30px 10px;
  text-align: center;
  margin: auto;
}

.account-column-info{
  background-color: #fff !important;
  width: 100%;
  border: 3px solid #bfa458;
  font-size: 115%;
  margin-bottom: 30px;
}

.account-content{
  margin: 30px 0 0 0;
}

.account-information-title{
  padding: 30px 10px;
  text-align: center;
  margin: auto;
}

.account-edit-button{
  padding: 10px 30px;
  text-align: center;
  border: 2px solid #bfa458;
  color: #bfa458;
  background-color: #003594;
}

.account-edit-button:hover{
  background-color: #bfa458;
  color: #003594;
}

.bio-label{
  margin-bottom: 20px;
}

.account-personal-information{
  padding: 10px 0;
  font-size: 90%;
}

.account-rating-stars{
  margin: 20px 0 10px 0;
  font-size: 115%;
  margin: auto;
  color: #bfa458;
  display: inline-block;
}


.history-box{
  width: 100%;
  padding: 20px 30px;
}

.history-title{
  text-align: center;
  padding: 20px 0;
}

@media (min-width: 500px) {
  .account-email, .account-phone{
    font-size: 130%;
  }
}

@media (max-width:499px) {
  .history-box{
    padding: 5px 25px;
  }
}
