.create-account-border-box{
  background-color: #fff !important;
  width: 100%;
  padding: 30px;
  margin: 30px 0;
  border: 5px solid #192857;
}

.create-account-title{
  height: 70px;
  line-height: 50px;
  margin: auto;
  text-align: center;
}

.create-account-input-group{
  width: 100%;
  padding: 20px 0;
}

.create-account-label{
  padding-bottom: 10px;
}

.create-account-description-box{
  margin: 20px 0px;
  padding-bottom: 20px;
}

.create-posting-submit-button-group{
  margin: auto;
  padding: 30px 0;
  text-align: center;
}

.conditions-and-term-group{
  width: 400px;
  text-align: center;
  margin: auto;
  padding-bottom: 15px;
}

.create-account-submit-button{
  margin-top: 30px;
}

.delete-grouping{
  padding-bottom: 50px;
  margin: auto;
  width: 300px;
}
