.navbar {
  background-color: #192857;
  padding: 0;
  min-height: 70px;
}

.navbar-color-scheme{
  background-color: #192857;
  color: #bfa458;
}

.navbar-color-scheme:hover{
  color: #192857;
  background-color: #bfa458;
}

.nav-container{
    min-height: 70px;
}

.button-a{
  height: 100%
  text-align: center;
  line-height: 70px;
}

a:hover {
  color: #192857;
}

.navbar-button-home{
  font-size: 175% !important;
  margin-right: 10px !important;
}

.navbar-button{
  color: #bfa458;
  background-color: inherit;
  font-size: 125%;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0 10px;
}

.navbar-button:hover{
  color: #192857;
  background-color: #bfa458;
}

.navbar-button-dropdown{
  height: 70px;
  margin: auto;
}

.navbar-button-dropdown-items{
  width: 100%;
  margin-right:2px;  /* Very wierd glitch that this fixes ?? */
  display: block;
  padding: 5px 10px;
  font-weight: 500;
}

.navbar-button-dropdown-icon{
  float: right;
  margin: 3px
}

.navbar-button-dropdown-menu{
  background-color: inherit;
  width: 200px !important;
}

@media (min-width: 992px): {
  .navbar-button-dropdown-items{
    width: 200px !important;
  }
}


.default-background-nav{
  background-color: #192857;
}

#dropdown-button:hover{
  text-decoration: underline;
}
